.holder{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,200px);
	background-color: black;
}
.item{
	background-color: violet;
	border: 2px solid black;
}
/* Your CSS Code here. */